# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Next.js
.next/
out/
.next/cache/

# Env
.env*
!.env.example

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Tests / Coverage
coverage/

# Misc
.vercel/
*.local



